:root {
    --dark-color: 10, 10, 10;
    --light-color: 240, 240, 240;
}

@font-face {
    font-family: 'Doto';
    src: url('/fonts/Doto-ExtraBold.ttf');
}

.infoButton,
.closeButton {
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 50px;
}
.closeButton {
    right: 20px;
}

.infoButton::after,
.closeButton::after
{
    content: '?';
    position: absolute;
    font-size: 55px;
    font-family: 'Doto', sans-serif;
    line-height: 55px;
    color: rgba(var(--dark-color), 0.6);
}

.closeButton::after {
    content: 'x';
    top: -10px;
    color: rgba(var(--light-color), 0.6);
}

.infoButton:hover,
.closeButton:hover {
    cursor: pointer;
}

.infoOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    background-color: rgba(var(--dark-color), 0.8);
    color: rgba(var(--light-color), 0.9);
    font-size: 40px;
    font-family: 'Doto', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.infoOverlay.show {
    display: flex;
}

.infoOverlay.hide {
    display: none;
}

.heading {
    font-size: 45px;
    color: white;
    text-shadow: 0 0 30px white;
}

.sub-heading {
    font-size: 30px;
    color: white;
    text-shadow: 0 0 30px white;
    margin-top: 50px;
}

.tagLine {
    margin-top: 40px;
}

.author {
    font-size: 30px;
    margin-top: 40px;
}

.links {
    margin-top: 20px;
    font-size: 20px;
    display: flex;
    gap: 10px;
}

.links a,
.links a:visited {
    color: #93bfe7;
}
